<h1><%= @oil_worker.first_name %> <%= @oil_worker.last_name %> has been to: </h1>

<ul>
  <% @oil_worker.rigs.each do |rig| %>
     <p><a href="/rigs/<%= rig.id %>"><%= rig.name %></a></p>
  <% end %>
</ul>

<p class="btn--wrapper">
  <a class="btn btn--click" href="/flights/new">Record a flight</a>
</p>

<p> <a href="/oil_workers/<%= @oil_worker.id %>/wish_list">Wish List</a> </p>