<h1>Rigs</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/rigs/new">Add a rig</a>
</p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Type</th>
    <th></th>
    <th>Distance</th>
    <th></th>
    <th>Country</th>
    <th></th>
    <th>Oil Company</th>
  </tr>
  <% for rig in @rigs %>
  <tr>
    <td><a href="/rigs/<%= rig.id %>"><%= rig.name %></a></td>
    <td>|</td>
    <td><%= rig.type %></td>
    <td>|</td>
    <td><%= rig.distance %> miles</td>
    <td>|</td>
    <td><%= rig.country %></td>
    <td>|</td>
    <td><%= rig.oil_company.name.capitalize %></td>
    <td>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
    <td> <p> <a href="/rigs/<%= rig.id %>/update">Update</a> </p> </td>
    <td>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
    <td> <p> <form action="/rigs/<%= rig.id %>/delete" method="POST">
                <input class="btn btn--click" type="submit" value="Delete" />
            </form> </p> 
    </td>
    <td>
        <p class="btn--wrapper">
          <a class="btn btn--action" href="/flights/new">Been Here!</a>
        </p>
    </td>
    <td>
        <p class="btn--wrapper">
          <a class="btn btn--click" href="/wish_lists/new">Add to wish list</a>
        </p>
    </td>
  </tr>
  <% end %>
</table>