<h1>Rig <%= @rig.name %></h1>

<h2>Type: <%= @rig.type %></h2>

<h2>Distance: <%= @rig.distance %></h2>

<h2>Country: <%= @rig.country %></h2>

<h2>Oil Company: <%= @rig.oil_company.name.capitalize %></h2>

<hr>

<h2>Oil Workers:</h2>

<h2>
  <% @rig.oil_workers.each do |oil_worker| %>
  <p><%= oil_worker.first_name %> &nbsp; <%= oil_worker.last_name %></p>
  <% end %>
</h2>