<h1>Oil Companies</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Type</th>
  </tr>
  <% for oil_company in @oil_companys %>
  <tr>
      <td><a href="/oil_companys/<%= oil_company.id %>"><%= oil_company.name %></a></td>
    <td>|</td>
      <td><%= oil_company.type %></td>
     <td>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
        <td> <p> <form action="/oil_companys/<%= oil_company.id %>/delete" method="POST">
        <input class="btn btn--click" type="submit" value="Delete" />
      </form> </p> </td>

      <td> <p> <a href="/oil_companys/<%= oil_company.id %>/update">Update</a> </p> </td>
  </tr>
  <% end %>
  <tr>
    <th>
    <p class="btn--wrapper">
      <a class="btn btn--click" href="/oil_companys/new">Add an Oil Company</a>
    </p>
    </th>
  </tr>
</table>